.button{
    display: inline-block;
    background-color: #f25a70;
    color: #fff;
    height: 55px;
    padding: 0px 15px;
    line-height: 60px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    transition: 0.5s;
    text-decoration: none;
}

.button:hover{
    background-color: #000;
    color: #f25a70;
    box-shadow: 5px 5px 0 white;
}