.card-project{
    background-color: #7C5E99;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-project.-blue{
    background-color: #4C5B84;
}

.card-project img{
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 0px #FFF;
}